<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">COMANDAS</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <!-- /.panel -->
    <div class="row">
        <!-- /.col-lg-8 -->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Pizarra de Comandas Pendientes
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a class="list-group-item" ng-repeat="pedido in mc.pedidos" ng-click="mc.openModal($index)" style="cursor:pointer!important;">
                            <i class="fa fa-twitter fa-fw"></i> {{pedido.name}}
                            <span class="pull-right text-muted small"><em><i class="fa fa-pencil fa-fw "></i></em>
                            </span>
                        </a>
                    </div>
                    <a href="#" class="btn btn-default btn-block">Ver todas las comandas</a>


                </div>


                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
