<div class="panel-body">
    <div class="list-group">
        <a ng-repeat="pedido in pedidos" ng-click="setIndex($index)" href="#pedido32" data-toggle="modal" class="list-group-item">
            <i class="fa fa-twitter fa-fw"></i> {{pedido.name}}
            <span class="pull-right text-muted small"><em><i class="fa fa-pencil fa-fw "></i></em>
            </span>
        </a>
    </div>
    <a href="#" class="btn btn-default btn-block">Ver todas las comandas</a>

    <!-- MODALES -->
    <div class="modal fade" id="pedido43" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                








            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.list-group -->
    


    <!-- MODALES -->
    <div class="modal fade" id="pedido32" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center" id="myModalLabel">Editando {{pedidos[getIndex()].name}}</h4>
                </div>


                <div class="col-md-12">
                    <div class="well well-sm">

                        <div class="row padding">



                            <div class="col-md-3 col-sm-3 col-xl-3">
                                <input type="time" class="form-control" id="exampleInput" name="input" ng-model="example.value" placeholder="HH:mm:ss" min="00:00:00" max="23:59:59" required />
                            </div>

                            <div class="col-md-4 col-sm-4 col-xl-4 col-md-offset-1">
                                <select name="singleSelect" id="cliente" ng-model="pedidos[getIndex()].cliente" class="form-control">
                                    <option value="" selected disabled>---Clientes---</option>
                                    <option ng-repeat="cliente in clientes" value="{{cliente.id}}">{{cliente.name}}</option>
                                </select>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xl-4">
                                <select name="singleSelect" id="mozo" ng-model="pedidos[getIndex()].mozo" class="form-control">
                                    <option value="" selected disabled>---Mozo---</option>
                                    <option ng-repeat="mozo in mozos" value="{{mozo.id}}">{{mozo.name}}</option>
                                </select>
                            </div>

                            <div class="col-md- col-sm-8 col-xl-8" ng-model="pedidos[getIndex()].direccion">
                                <input type="text" class="form-control" placeholder="Direccion" 
                                value="{{clientes[pedidos[getIndex()].cliente].direccion}}">
                            </div>                            




                            <div class="col-md-4 col-sm-4 col-xl-4">
                                <input type="text" class="form-control" placeholder="Menu" ng-model="pedidos[getIndex()].menu">
                            </div>

                            <div class="col-md-4 col-sm-4 col-xl-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value=""><span class="text-muted">Gaseosa?</span> 
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xl-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value=""><span class="text-muted">Entregado?</span> 
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xl-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value=""><span class="text-muted">Cuenta Corriente?</span> 
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



</div>
